<form class="add-to-session" action="/gym/members/<%= @member.id %>/add" method="post">
  <p><%= @member.pretty_name %></p>


<% @sessions.each do |session| %>
<p><input type="checkbox" name="<%= session.id %>" id="session-checkbox">
  <%= session.type%>,
  <%= session.start_time %>,
  <%= session.duration %></p>
<% end %>

<br/>

  <input type="submit" value="Add member to sessions">
</form>
