<p><%= @member.pretty_name %></p>
<% @sessions.each do |session| %>
  <p>Added to: <%= session.type %>, Time: <%= session.start_time %>, Duration: <%= session.duration %> </p>
<% end %>

<% @full_sessions.each do |session| %>
  <p>Could not be added to <%= session.type %> as it is fully booked </p>
<% end %>

<% @ineligible_sessions.each do |session| %>
  <p>Could not be added to <%= session.type %> as the member is not eligible</p>
  <% end %>
