<div class="small-table">
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Membership Type</th>
    </tr>
    <tr>
      <td><p> <%= @member.first_name %></p></td>
      <td><p> <%= @member.last_name %></p></td>
      <td> <p><%= @membership.type %></p></td>
    </tr>
 </table>
</div>

<div class="link-button">
  <p><a href="/gym/members/ <%= @member.id %>/add">Add member to session</a></p>
</div>

<div class="link-button">
  <p><a href="/gym/members/ <%= @member.id %>/edit">Edit member info</a></p>
</div>

<form id="delete-member" action="/gym/members/<%= @member.id %>/delete" method="post">
  <input type="submit" value="Delete Member">

</form>
