<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Membership Type: <%=@membership.type %></p>
<p><a href="/gym/members/ <%= @member.id %>/add">Add member to session</a></p>
<p><a href="/gym/members/ <%= @member.id %>/edit">Edit member info</a></p>

<form id="delete-member" action="/gym/members/<%= @member.id %>/delete" method="post">
  <input type="submit" value="Delete Member">

</form>
