<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>gym</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
    <body>
      <div class="grid-container">
        <div class="sidebar">
          <nav>
            <ul>
              <li><a href="/gym" class=<%="active" if request.path_info == "/gym"  %>>Home</a></li>
              <li><a href="/gym/members" class=<%="active" if request.path_info == "/gym/members" %>>Members</a></li>
              <li><a href="/gym/sessions"class=<%="active" if request.path_info == "/gym/sessions" %>>Sessions</a></li>
              <li><a href="/gym/memberships"class=<%="active" if request.path_info == "/gym/memberships" %>>Memberships</a></li>
            </ul>
          </nav>
        </div>
        <div class="content">


        <%= yield %>

      </div>
      <div class="footer">
        <footer>fidelma.beagan@gmail.com</footer>
      </div>
    </div>
  </body>
</html>
