<div class="sessions">
  <div class="large-table">

<table>

<tr>
  <th><p>Type</p></th>
  <th><p>Start Time</p></th>
  <th><p>Duration</p></th>
  <th><p>Capacity</p></th>
  <th><p>Timing</p></th>
  <th><p>Number of Participants</p></th>
</tr>
<tbody>
  <tr>
    <td><p><%= @session.type %></p></td>
    <td><p> <%= @session.start_time %></p></td>
    <td><p> <%= @session.duration %></p></td>
    <td><p><%= @session.capacity %></p></td>
    <td><p><%= @peak %></p></td>
    <td><p> <%= @attendance %></p></td>
  </tr>
</tbody>

</table>
</div>

<div class="link-button">
<p><a href="/gym/sessions/ <%= @session.id %>/participants">View all participants</a></p>
</div>

<div class="link-button">
  <p><a href="/gym/sessions/<%= @session.id%>/add">Add member to session</a></p>
</div>

<div class="link-button">
<p><a href="/gym/sessions/ <%= @session.id %>/edit">Edit session info</a></p>
</div>

<form id="delete-session" action="/gym/sessions/<%= @session.id %>/delete" method="post">
  <input type="submit" value="Delete session">

</form>

</div>
